.container {
	padding: 8px 16px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	.group {
		// border: 1px solid red;

		&:nth-child(2) {
			button {
				margin: 0 8px;
				padding: 2px;
			}
		}
	}
}
