.container {
	width: 300px;
	padding: 16px 20px;
	border-radius: 5px;
	cursor: pointer;

	.tutoring-body {
		margin-bottom: 16px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;

		.image {
			height: 60px;
			width: 60px;
			margin-right: 20px;
			font-size: 30px;
			border-radius: 5px;
			background-color: tomato;
			color: white;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.course-tutor {
			display: flex;
			flex-flow: column nowrap;

			h1 {
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 4px;
			}
		}
	}

	.tutoring-footer {
		display: flex;
		justify-content: space-between;

		.end-date,
		.schedule {
			font-size: 14px;
		}
	}
}
