<div class="tutoring-offer-info-container">
	<div class="tutoring-body">

		<div class="course-tutor">
			<h1>{{ tutoringOffer.courseName | titlecase }}</h1>
			<p>
				{{ tutoringOffer.tutorName }}
			</p>
		</div>
	</div>

	<div class="tutoring-footer">
		<div class="end-date">
			<p>
				{{ tutoringOffer.endTime | date: "dd/MM/yyyy" }}
			</p>
		</div>

		<div class="schedule">
			<p>
				{{ tutoringOffer.startTime | date: "shortTime" }}
				-
				{{ tutoringOffer.endTime | date: "shortTime" }}
			</p>
		</div>
	</div>
</div>
