<div class="container">
	<div class="tutoring-body">
		<div class="image">
			<p>{{ tutoringOffer.course | titlecase | slice: 0:1 }}</p>
		</div>

		<div class="course-tutor">
			<h1>{{ tutoringOffer.course | titlecase }}</h1>
			<p>
				{{ tutoringOffer.tutor }}
			</p>
		</div>
	</div>

	<div class="tutoring-footer">
		<div class="end-date">
			<p>
				{{ tutoringOffer.endTime | date: "dd/MM/yyyy" }}
			</p>
		</div>

		<div class="schedule">
			<p>
				{{ tutoringOffer.startTime | date: "shortTime" }}
				-
				{{ tutoringOffer.endTime | date: "shortTime" }}
			</p>
		</div>
	</div>
</div>
