<nav class="navbar">

	<div class="logo">
		<a href="/home">
			<img width="64" src="../assets/images/LogoSingle.svg" alt="" />
		</a>
	</div>


	<div class="avatar">
		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png" width="64" height="64" alt="" />

	</div>
</nav>
<div class="container-tutoriaDetail-master">


	<div class="container-tutoria-details">
		<div class="details">
			<h2>{{tutoringOffer.course}}</h2>

			<div class="div1" style="margin-bottom: 2%;">
				<div class="detail">
					<p class="label-detail">Inicio</p>
					<p class="text-detail">{{tutoringOffer.startTime |  date:'medium'}}</p>
				</div>

				<div class="detail">
					<p class="label-detail">Fin</p>
					<p class="text-detail">{{tutoringOffer.endTime  | date:'medium'}}</p>
				</div>

				<div class="detail">
					<p class="label-detail">Descripcion</p>
					<p class="text-detail">{{tutoringOffer.description}}</p>
				</div>

				<div class="detail">
					<p class="label-detail">Universidad</p>
					<p class="text-detail">{{tutoringOffer.universityName}}</p>
				</div>
			</div>
		</div>


		<div style=" overflow-wrap: break-word;">
			<h2>Sesiones</h2>
			<div class="list-sessions">
				<div (click)="viewSession(i)" class="card-session" *ngFor="let sessions of tutoringOffer.tutoringSessionResponses; let i=index">
					<div class="card-session-topics">
						<h2>Temas</h2>
						<div *ngFor="let topics of sessions.topicsName">
							<p>{{topics}}</p>
						</div>
					</div>
					<div>
						<div>
							<div class="date-info-card">
								<h4>Fecha</h4>
								<p>{{sessions.startTime |   date:'medium'}}</p>
							</div>


						</div>
					</div>
				</div>
			<!-- </div>
			<table class="detail">
				<tr *ngFor="let sessions of tutoringOffer.tutoringSessionResponses; let i=index">
					<td class="detail session">
						<div style="width: 100%;">
							<p class="label-detail session"> Session N° {{i}} </p>
						</div>
					</td>
					<td><button (click)="viewSession(i)" class="btn" style="margin-left: 30%; ">Details</button>
					</td>
				</tr>
			</table> -->
		</div>




	</div>

</div>
