<div class="container">
	<nav class="navbar">
		<div class="logo">
			log
		</div>
		<div class="search">
			<input
				type="text"
				placeholder="Busca algún curso"
				[(ngModel)]="courseName"
				(keyup.enter)="onEnter()"
			/>
		</div>
		<div class="avatar">
			photo
		</div>
	</nav>

	<div class="side-bar">
		<button routerLink="/subscription">Quiero ser tutor</button>

	</div>

	<div class="results">
		<app-tutoring-offer-info-group></app-tutoring-offer-info-group>

		<app-tutor-info-group></app-tutor-info-group>
	</div>
</div>
