<div class="home-container">
	<nav class="navbar">
		<div class="logo">
			<img src="../../../../../assets/images/logo.svg" alt="">
		</div>
		<div class="search">
			<input type="text" placeholder="Busca algún curso" [(ngModel)]="courseName" (keyup.enter)="onEnter()" />
		</div>
		<div class="avatar">
			<img src="https://semantic-ui.com/images/avatar2/large/matthew.png" width="64" height="64" alt="" />
			<p>{{name}}</p>
		</div>
	</nav>
	<div class="home-sub">

		<app-home-side-bar></app-home-side-bar>

		<div class="results">
			<app-tutoring-offer-info-group></app-tutoring-offer-info-group>

			<app-tutor-info-group></app-tutor-info-group>
		</div>

		<div class="tutoringSessionsToAssist">
			<h2>Tutorías por asistir</h2>
			<div class="list-sessions-active">
				<div class="card-sessionHome" *ngFor="let session of mySessions" >
					<p>Fecha: {{ session.startTime | date: "dd/MM/yyyy"  }}</p>
					<p>Ubicacion: {{session.place}}</p>
				</div>
			</div>
			<div *ngIf="mySessions === undefined">
				<h2>No tienes tutorías por asistir</h2>
			</div>

		</div>
	</div>
</div>
