.container {
	.navbar {
		padding: 16px;
		display: flex;
		flex-flow: row nowrap;

		justify-content: space-around;
		align-items: center;

		.search {
			input {
				padding: 8px;
				border: 1px solid lightgray;
				border-radius: 5px;
				font-size: 16px;
			}
		}
	}

	app-home-side-bar {
		display: none;
	}

	.results {
	}
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
	.container {
		height: 100vh;
		padding: 16px 32px;

		display: grid;
		grid-template-columns: 3fr 9fr;
		grid-template-rows: min-content;
		gap: 32px;
		align-items: flex-start;

		.navbar,
		app-home-side-bar,
		.results {
			// border: 1px solid blue;
			box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
		}

		.navbar {
			grid-column: 1 / span 2;
		}

		app-home-side-bar {
			display: block;
			grid-column: 1 / span 1;
			align-self: stretch;
		}

		.results {
			grid-column: 2 / span 1;
			align-self: stretch;
			display: flex;
			flex-flow: column wrap;
		}
	}
}
