/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap");

$primary-color: #4e83ed;
$primary-text: #242424;
$gradient-left: #4959ec;
$gradient-right: #52a4ec;
$main-background: #fafbfc;
$white: #ffffff;
$green: #2fe49a;
$white-noise: rgb(238, 238, 238);
$yellow: #ffd256;


button:active {
    transition: all 0.2s ease-in-out;
    transform: scale(0.96);
  }
